@font-face {
  font-family: "DejaVu Sans";
  src: url("https://kendo.cdn.telerik.com/2021.3.1109/styles/fonts/DejaVu/DejaVuSans.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  src: url("https://kendo.cdn.telerik.com/2021.3.1109/styles/fonts/DejaVu/DejaVuSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2021.3.1109/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "DejaVu Sans";
  font-weight: bold;
  font-style: italic;
  src: url("https://kendo.cdn.telerik.com/2021.3.1109/styles/fonts/DejaVu/DejaVuSans-Oblique.ttf") format("truetype");
}


* {
  box-sizing: border-box;
  font-family: "Dejavu Sans";
  
  
}

body {
  padding: 0;
  margin: 0;
}

.app {
  padding: 70px 0;

  @media screen and (max-width: 600px) {
      padding: 45px 0;
  }
}
.wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  padding: 0 35px;
  max-width: 1125px;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 15px;
      align-items: center;
  }
}

h1 {
  text-align: center;
  margin: 0 0 50px;
  padding: 0 15px;

  @media screen and (max-width: 1200px) {
    font-size: 20px;
    margin-bottom: 35px;
}
}

h2 {
  font-weight: 400;
  margin: 50px 0 0;
}

.tour {
  margin: 36px 0 16px;
  color: #797979;
  font-weight: bold;
  color: #333;
}



ul.teams-list {
  margin-top: 0;
  padding-left: 0;
  background: #fff;
  border-radius: 5px;
  padding: 24px;
  border: 1px solid #333;
  margin-right: 41px;
  margin-bottom: 0;
  height: 100%;
  max-width: 230px;
  position: relative;
  padding-right: 70px;

  .remove-btn {
    position: absolute;
    right: -68px;
    top: 3px;
    width: 32px;
    height: 14px;
    cursor: pointer;
  }
 
  .remove-btn:before, .remove-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #ff0000;
  }
  .remove-btn:before {
    transform: rotate(45deg);
  }
  .remove-btn:after {
    transform: rotate(-45deg);
  }

  @media screen and (max-width: 1200px) {
      margin-bottom: 30px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 0;
      width: 100%;
      max-width: 100%;
  }

  li {
    list-style: none;
    font-weight: 300;
    margin-bottom: 12px;
    text-transform: capitalize;
    position: relative;
    display: flex;

    @media screen and (max-width: 600px) {
        margin-bottom: 7px;
        font-size: 14px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    span {
      display: inline-block;
      margin-right: 4px;
      font-weight: 500;
    }

    span.del-btn {
      position: absolute;
      right: 0;
      top: 2px;
      font-size: 11px;
      cursor: pointer;
    }
  }
}

.wrapper-container {
  position: relative;
  width: 80%;
  @media screen and (max-width: 1200px) {
      width: 100%;
  }
}

.container {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 600px) {
      flex-direction: column;
      align-items: center;
  }

  .save-pdf-container {
    width: 49%;

    @media screen and (max-width: 1200px) { 
      width: 100%;
  }
  }
  .save-pdf {
    width: 100%;
    background-color: #5abb29;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;

      &.disabled {
        display: none;
      }
  
      @media screen and (max-width: 1200px) { 
        top: 172px;
        margin-bottom: 10px;
        width: 100%;
    }
  }

  .clear-btn {
    background-color: #f31c1c;
    color: #fff;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; 

    @media screen and (max-width: 1200px) {
      order: -1;
      margin-bottom: 50px;
      max-width: 100px;
      margin-left: 0;
      margin-right: auto;
  }
  }
  .generate-btn {
    color: #fff;
    background-color: #2078e5;

   
  }
  .use-chrome-container.hidden {
    display: none;
  }
  .use-chrome {
    margin: 0;
    padding: 0;
    color: #f31c1c;
    text-align: center;
    
  }

  .how-to-use {
    color: #fff;
    margin-top: 10px;
  }

  label.round-num {
   font-size: 12px;
   margin-bottom: 4px; 
   padding-left: 3px;
  }
  input, button, a, select {
    height: 30px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    outline: none;
    padding-left: 5px;
    width: 49%;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;

    &#round {
      margin-bottom: 10px;
    }


    
    
    @media screen and (max-width: 1200px) {
        margin-bottom: 10px;
        width: 100%;
        height: 45px;
        font-size: 17px;
    }
  }
  select {
    color: #000;
    option {
      color: #000;
    }
    option:first-child{
      color: #757575;
    }
    &:invalid { color: #757575; }
    
  }
  button, a {
    cursor: pointer;
    background-color: #c00;
    border: 0;

    &.btn-add {
      margin-bottom: 10px;
      background-color: #333;
      color: #fff;
      border: 1px solid #333;

      @media screen and (max-width: 600px) {
        margin-bottom: 30px;
    }

    }
  }
}

.schedule {

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  .schedule-item {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;


    
    div {
      padding: 10px 20px;
      border: 2px solid #000;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      width: 45%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      flex-grow: 1;
      word-break: break-word;

      @media screen and (max-width: 600px) {
        padding: 10px 5px;
        text-align: center;
    }

      &:hover {

        span.color-box {
          display: block;
        }
        
      }
      span.color-box {
        position: absolute;
        right: 4px;
        top: 3px;
        border: 1px solid #000;
        border-radius: 4px;
        width: 12px;
        height: 12px;
        display: block;
        background-color: #fff;

        display: none;

        
      }

      &:first-child {
        span {
          left: 4px;
          right: unset;
        }
      }


      &.colored {
        background-color: rgb(243, 219, 105);
      }


      div {
        border: 0;
        padding: 0;
        pointer-events: none;
      background: transparent;
       
      }
    }
    

    &.miss {
      border: 2px solid #000;
      background-color: #ccc;
      color: #000;
      border-radius: 5px;

      span {
        &.color-box {
          background-color: #ccc;
        }
      }
       div {
        padding-left: 0;
        div {

          
            text-align: left;
            
          
        }

      
       
        &.colored {
          background-color: rgb(243, 219, 105) !important;
        }

        
      }

      
      
      div {
        border: 0;
        border-radius: 0;
        padding-right: 5px;
        width: 100%;
        display: block;
        background-color: transparent;
        position: relative;
        word-break: break-word;

        &:first-child {

          div {
            text-align: right;
          }
          
        }

        &:first-child {

          div {
            text-align: right;
          }
          
        }

        
        
       

        

       
      }
    }

    .miss {
      font-weight: 500;
      background-color: #ccc;

     
    }

    .play {
      font-weight: 300;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;

      svg {
        display: block;
        width: 15px;
        height: 15px;
        pointer-events: none;
      }

    }
  }
}

.round {
  max-width: 300px;
  background-color: #000;
  border-radius: 5px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 0; 
  padding: 10px;
  color: rgb(255, 255, 255);
}

h2 {
  text-align: center;
  font-size: 36px;
  

  @media screen and (max-width: 600px) {
    font-size: 26px;
}
}

#sect {
  margin-top: 100px;
}
.round-wrapper {
  margin-right: 30px; 

  @media screen and (max-width: 600px) {
    margin-right: 0;
}
}
ul.menu {
  position: absolute;
  max-width: 500px;
  background: #333;
  border-radius: 7px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 500px;
  min-height: 300px;
  text-align: center;

  li {
    list-style: none;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 300;
      font-size: 22px;;
    }
  }
}















@keyframes closeWindow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ril__outer {
  background-color: rgba(0, 0, 0, 0.85);
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__outerClosing {
  opacity: 0;
}

.ril__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__imageDiscourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ril__navButtons {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 34px;
  padding: 40px 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
}
.ril__navButtons:hover {
  opacity: 1;
}
.ril__navButtons:active {
  opacity: 0.7;
}

.ril__navButtonPrev {
  left: 0;
  background: rgba(0, 0, 0, 0.2)
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==')
    no-repeat center;
}

.ril__navButtonNext {
  right: 0;
  background: rgba(0, 0, 0, 0.2)
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+')
    no-repeat center;
}

.ril__downloadBlocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  background-size: cover;
}

.ril__caption,
.ril__toolbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.ril__caption {
  bottom: 0;
  max-height: 150px;
  overflow: auto;
}

.ril__captionContent {
  padding: 10px 20px;
  color: #fff;
}

.ril__toolbar {
  top: 0;
  height: 50px;
}

.ril__toolbarSide {
  height: 50px;
  margin: 0;
}

.ril__toolbarLeftSide {
  padding-left: 20px;
  padding-right: 0;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ril__toolbarRightSide {
  padding-left: 0;
  padding-right: 20px;
  flex: 0 0 auto;
}

.ril__toolbarItem {
  display: inline-block;
  line-height: 50px;
  padding: 0;
  color: #fff;
  font-size: 120%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ril__toolbarItemChild {
  vertical-align: middle;
}

.ril__builtinButton {
  width: 40px;
  height: 35px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
}
.ril__builtinButton:hover {
  opacity: 1;
}
.ril__builtinButton:active {
  outline: none;
}

.ril__builtinButtonDisabled {
  cursor: default;
  opacity: 0.5;
}
.ril__builtinButtonDisabled:hover {
  opacity: 0.5;
}

.ril__closeButton {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=')
    no-repeat center;
}

.ril__zoomInButton {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+')
    no-repeat center;
}

.ril__zoomOutButton {
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=')
    no-repeat center;
}

.ril__outerAnimating {
  animation-name: closeWindow;
}

@keyframes pointFade {
  0%,
  19.999%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.ril__loadingCircle {
  width: 60px;
  height: 60px;
  position: relative;
}

.ril__loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ril__loadingCirclePoint::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 11%;
  height: 30%;
  background-color: #fff;
  border-radius: 30%;
  animation: pointFade 800ms infinite ease-in-out both;
}
.ril__loadingCirclePoint:nth-of-type(1) {
  transform: rotate(0deg);
}
.ril__loadingCirclePoint:nth-of-type(7) {
  transform: rotate(180deg);
}
.ril__loadingCirclePoint:nth-of-type(1)::before,
.ril__loadingCirclePoint:nth-of-type(7)::before {
  animation-delay: -800ms;
}
.ril__loadingCirclePoint:nth-of-type(2) {
  transform: rotate(30deg);
}
.ril__loadingCirclePoint:nth-of-type(8) {
  transform: rotate(210deg);
}
.ril__loadingCirclePoint:nth-of-type(2)::before,
.ril__loadingCirclePoint:nth-of-type(8)::before {
  animation-delay: -666ms;
}
.ril__loadingCirclePoint:nth-of-type(3) {
  transform: rotate(60deg);
}
.ril__loadingCirclePoint:nth-of-type(9) {
  transform: rotate(240deg);
}
.ril__loadingCirclePoint:nth-of-type(3)::before,
.ril__loadingCirclePoint:nth-of-type(9)::before {
  animation-delay: -533ms;
}
.ril__loadingCirclePoint:nth-of-type(4) {
  transform: rotate(90deg);
}
.ril__loadingCirclePoint:nth-of-type(10) {
  transform: rotate(270deg);
}
.ril__loadingCirclePoint:nth-of-type(4)::before,
.ril__loadingCirclePoint:nth-of-type(10)::before {
  animation-delay: -400ms;
}
.ril__loadingCirclePoint:nth-of-type(5) {
  transform: rotate(120deg);
}
.ril__loadingCirclePoint:nth-of-type(11) {
  transform: rotate(300deg);
}
.ril__loadingCirclePoint:nth-of-type(5)::before,
.ril__loadingCirclePoint:nth-of-type(11)::before {
  animation-delay: -266ms;
}
.ril__loadingCirclePoint:nth-of-type(6) {
  transform: rotate(150deg);
}
.ril__loadingCirclePoint:nth-of-type(12) {
  transform: rotate(330deg);
}
.ril__loadingCirclePoint:nth-of-type(6)::before,
.ril__loadingCirclePoint:nth-of-type(12)::before {
  animation-delay: -133ms;
}
.ril__loadingCirclePoint:nth-of-type(7) {
  transform: rotate(180deg);
}
.ril__loadingCirclePoint:nth-of-type(13) {
  transform: rotate(360deg);
}
.ril__loadingCirclePoint:nth-of-type(7)::before,
.ril__loadingCirclePoint:nth-of-type(13)::before {
  animation-delay: 0ms;
}

.ril__loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ril__imagePrev .ril__loadingContainer,
.ril__imageNext .ril__loadingContainer {
  display: none;
}

.ril__errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.ril__imagePrev .ril__errorContainer,
.ril__imageNext .ril__errorContainer {
  display: none;
}

.ril__loadingContainer__icon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}